<div ui-view='en_nav'></div>
<div class='center-block' style='overflow: hidden; height: 650px; width: 100%; position: relative;'>

	<img src='../images/activities.jpg' style='width: 1260px; top: -120px; position: absolute;' alt=''/>

		<!-- Language selection menu -->
		<div style='position: absolute; margin-top: 250px; margin-left: 22px;'>
			<!-- Redirect to About Us page (English version) -->
			<a class='language-btn text-center' href='#/en/subtopics/5'>English</a>
			<!-- Redirect to About Us page (Korean version) --> 
			<a class='language-btn text-center' href='#/kr/subtopics/5'>한글</a>
            <!--<a class='language-btn text-center' href='#'>Español</a>-->
		</div>


</div>
