<div class='center-block' style='overflow: hidden; height: 500px; width: 96%; position: relative;'>

	<img src='../images/activities.jpg' style='width: 1260px; top: -260px; position: absolute;' alt=''/>

		<!-- Language selection menu -->
		<div style='position: absolute; padding-top: 200px; margin-left: 22px;'>
			<a class='language-btn text-center' href='#'>English</a>
			<a class='language-btn text-center' href='#'>한글</a>
			<a class='language-btn text-center' href='#'>Español</a>
		</div>

</div>