/* Gray-colored background */
html, body {
	background: white;
	font: 300 16px 'Lato', 'Open Sans', Helvetica, Arial, sans-serif;
	height: 100%;
}
/* Format text displayed in the body of subtopic pages */
p {
	line-height: 33px;
	font-size: 17px;
}
/* Remove underlines from links */
a, a:hover, a:visited {
	text-decoration: none !important;
	color: black;
}

a:hover {
	color: #888;
	border-color: #888;
}
/* Formatting for forms */
form {
	margin-top: 22px;
}
/* Page has a white background */
.container {
	
	min-height: 100%;
	background-color: white;
}
/* Cursor becomes a mouse pointer when hovering over delete and edit symbols */
.glyphicon-remove, .glyphicon-edit {
	cursor: pointer;
}
/* Formatting language options on home page*/
.language-btn {
	display: block;
	float: right;
	background: white;
	clear: both;
	font-weight: 600;
	font-size: 25px;
	background: white;
	border-radius: 0;
	margin: 22px 0;
	width: 300px;
	padding: 11px 0;
	border: 3px solid black;

}

.language-btn:hover {
	color: #6E6E6E;
}

a.fancybox img {
        border: none;
        box-shadow: 0 1px 7px rgba(0,0,0,0.6);
} 

.img-container img {
	margin-right: 11px;
	margin-bottom: 22px;
}

.vertical-spacer {
	vertical-align: top;
	height: 250px;
}